<template>
  <Layout>
    <template slot="hero">
      <h1 v-html="$page.mdLegal.title"/>
      <p class="hero--author">This policy is effective as of {{$page.mdLegal.date}}.</p>
    </template>
    
    <div class="section">
      <div class="container">
        <div v-html="$page.mdLegal.content" class="container--inner"/>
      </div>
    </div>
  </Layout>
</template>

<page-query>
query mdLegal ($id: ID!) {
  mdLegal(id: $id) {
    id
    title
    date (format: "Do MMMM YYYY")
    content
  }
}
</page-query>

<script>
export default {
  metaInfo () {
    return {
      title: this.$page.mdLegal.title,
      meta: [
        { name: 'robots', content: 'noindex nofollow' }
      ]
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/variables.scss";

p {
    font-size: $font-size-small;
}

table {
  margin: 0 0 $gutter-double;
  width: 100%;
  text-align: left;
}
</style>
