<template>
  <Layout>
    <template slot="hero">
      <h1 v-html="$page.mdPortfolio.title"/>
      <p class="hero--author">
        <span class="category" v-for="(category, index) in $page.mdPortfolio.categories" :key="`cat-${index}`">
          {{ category }}
        </span>
      </p>
    </template>

    <div class="section">
      <div class="container">
        <g-image class="featured-image"
          :src="require(`!!assets-loader?width=800!~/assets/images/portfolio/${$page.mdPortfolio.image1}`)" 
          quality="100"
          :alt="$page.mdPortfolio.title"
        />

        <div v-html="$page.mdPortfolio.content" class="article"/>

        <div class="supporting-images">
          <g-image v-if="$page.mdPortfolio.image2"
            :src="require(`!!assets-loader?width=420!~/assets/images/portfolio/${$page.mdPortfolio.image2}`)" 
            quality="100"
            :alt="createAlt($page.mdPortfolio.image2)"
          />
          <g-image v-if="$page.mdPortfolio.image3"
            :src="require(`!!assets-loader?width=420!~/assets/images/portfolio/${$page.mdPortfolio.image3}`)" 
            quality="100"
            :alt="createAlt($page.mdPortfolio.image3)"
          />
          <g-image v-if="$page.mdPortfolio.image4"
            :src="require(`!!assets-loader?width=420!~/assets/images/portfolio/${$page.mdPortfolio.image4}`)" 
            quality="100"
            :alt="createAlt($page.mdPortfolio.image4)"
          />
        </div>
      </div>
    </div>
  </Layout>
</template>

<page-query>
query mdPortfolio ($id: ID!) {
  mdPortfolio(id: $id) {
    id
    title
    date (format: "Do MMMM YYYY")
    categories
    image1
    image2
    image3
    image4
    content
  }
}
</page-query>

<script>
export default {
  components: {
    //Comments
  },
  metaInfo () {
    return {
      title: this.$page.mdPortfolio.title
    }
  },
  methods: {
    createAlt: function (fileName) {
      var removeLocation = fileName.split('/')[1]
      var addSpaces = removeLocation.replace(/-/g, ' ')
      var removeExtension = addSpaces.replace('.png', '').replace('.jpg', '')
      return removeExtension
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";
.article {
  h2 {
    margin-top: $gutter-double
  }
  h3 {
    margin-top: $gutter-double;
  }
}
.supporting-images {
  display: flex;
  justify-content: center;
  img {
    flex-basis: 33%;
    max-width: 33%;
    flex-shrink: 1;
    align-self: center;
    &:nth-of-type(2n) {
      margin-left: $gutter;
      margin-right: $gutter;
    }
  }
}
</style>
