<template>
  <Layout>
    <template slot="hero">
      <h1 v-html="$page.mdPost.title"/>
      <p class="hero--author">This blog post was written by Nick McBurney and published <time>{{ $page.mdPost.date }}</time>.</p>
    </template>
    <div class="section">
      <div class="container">
        <g-image class="featured-image"
          :src="require(`!!assets-loader?width=800!~/assets/images/${$page.mdPost.coverImage}`)" 
          quality="100"
          :alt="$page.mdPost.title"
        />

        <div v-html="$page.mdPost.content" class="article"/>
      </div>
    </div>
  </Layout>
</template>

<page-query>
query mdPost ($id: ID!) {
  mdPost(id: $id) {
    id
    title
    date (format: "Do MMMM YYYY")
    coverImage
    content,
    useCodepen
  }
}
</page-query>

<script>
import 'prismjs/themes/prism.css'

export default {
  components: {
    //Comments
  },
  metaInfo () {
    return {
      title: this.$page.mdPost.title
    }
  },
  mounted () {
    if(this.$page.mdPost.useCodepen) {
      const script = document.createElement('script');
      script.src = 'https://static.codepen.io/assets/embed/ei.js';
      script.async = 1;
      document.body.appendChild(script);
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/variables.scss";
.article {
  h2 {
    margin-top: $gutter-double
  }
  h3 {
    margin-top: $gutter-double;
  }
}
</style>
