<template>
  <Layout>
    <template slot="hero">
      <h1>Website Quote Calculator</h1>
      <p class="hero--author">Generate a quote for your website project</p>
    </template>
    
    <div class="container">
      <div class="section container--inner">
        <p>Get a web design and development quote through my simple calculator, if you're unsure of anything or you have a complex request please <g-link to="/contact-me">email me</g-link> for a custom quote.</p>
      </div>


      <div class="contact-form section--gradient">
        <div class="contact-form--column">
          <h3>Website quote options:</h3>
          <form-buttons label="Would you like a website design?"
            label_support="I can build your website from an existing design or create a bespoke design based on your requirements."
            id="design_required"
            v-model="design_required" 
            :options="[
              { value: true, name: 'Yes' },
              { value: false, name: 'No' }
            ]" 
            :required="true" 
            :form_valid="!form_error"
            :validation="{
              message: 'Please select wether you need a design for your website'
            }"
          />
          <form-buttons v-show="!design_required && design_required !== ''"
            label="How many page templates does your design have?"
            label_support="Page templates are unique page layouts or designs, e.g. homepage, page with sidebar, full-width page."
            id="template_count"
            v-model="template_count" 
            :options="[
              { value: 3, name: '1-3' },
              { value: 6, name: '4-6' },
              { value: 9, name: '7-9' },
              { value: 12, name: '10+' }
            ]" 
            :required="true" 
            :form_valid="!form_error"
            :validation="{
              message: 'Please select how many page templates your site requires'
            }"
          />
          <form-buttons label="Would you like a blog?"
            label_support="Many sites use blogs to keep customers up to date and they're a great way to keep your site fresh with company news, events, deals and topics related to your industry."
            id="blog_required"
            v-model="blog_required" 
            :options="[
              { value: true, name: 'Yes' },
              { value: false, name: 'No' }
            ]" 
            :required="true" 
            :form_valid="!form_error"
            :validation="{
              message: 'Please select wether you would like blogging functionality'
            }"
          />
          <form-buttons label="How big is your website?"
            :label_support="`Give a rough estimate of how many pages you require building ${blog_required ? '- don\'t include blog articles in this count.' : '.'} Common sizes: Small: 6, Medium: 12, Large: 16+`"
            id="page_count"
            v-model="page_count" 
            :options="page_count_options" 
            :required="true" 
            :form_valid="!form_error"
            :validation="{
              message: 'Please select how big your site will be (roughly)'
            }"
          />
        </div>
        <div class="contact-form--column">
          <div class="sticky">
            <h3>Your details:</h3>
            <form-input label="Your name*"
              v-model="name"  
              :required="true" 
              id="name"
              placeholder="Webby Website"
              :form_valid="!form_error"
              :validation="{
                regex: validations.text,
                message: 'Please enter your name'
              }"
            />

            <form-input label="Your email address*"
              v-model="email" 
              :required="true" 
              type="email" 
              id="email" 
              placeholder="name@example.co.uk"
              :form_valid="!form_error"
              :validation="{
                regex: validations.email,
                message: 'Please enter a valid email address'
              }"
            />

            <form-input label="Any further info you'd like to provide"
              style="--area-height: 5rem"
              v-model="body" 
              :required="false" 
              type="textarea" 
              id="message"
              :form_valid="!form_error"
              :placeholder="`My current website is built with WordPress...`"
            />

            <div class="quote-price">
              <h3>Your website quote price:</h3>
              <p>
                <strong v-if="quote_price">{{ quote_price }}<small><sup>*</sup></small></strong>
                <small v-else>Complete form to generate a website quote price</small>
              </p>
            </div>
          </div>
        </div>      

        <button @click="post_email" class="btn btn-clear" v-if="!loading">Get started</button>
        <p v-else>Submitting...</p>
        
        <div class="contact-form--info container--inner">
          <p>When you hit 'Get started', your quote request will be emailed to me (and the email you provide above for your reference), I will be in touch shortly (usually within 24hrs) to further discuss your website requirements and finalise the quote price and terms.</p>
          <p><strong>*Quotes should be used as a rough guide and can be lower or higher depending on your specific requirements.</strong></p>
          <p>By clicking 'Get started' you agree to the <a href="/privacy-policy" class="link-minor" target="_blank" rel="nofollow">privacy policy</a>.</p>
        </div>
      </div>   
    </div> 
  </Layout>
</template>

<script>
import axios from 'axios'

import Input from '@/components/Inputs/Input'
import Buttons from '@/components/Inputs/Buttons'

export default {
  name: 'QuoteCalculator',
  metaInfo: {
    title: 'Website Quote Calculator'
  },
  components: {
    'form-input': Input,
    'form-buttons': Buttons
  },
  data () {
    return {
      design_required: '',
      blog_required: '',
      page_count: '',
      template_count: '',

      name: '',
      email: '',
      body: '',
      loading: false,
      validations: {
        text: /^[a-zA-Z ]*$/,
        email: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
        body: /(?!^$)([^\s])/
      },

      form_error: false
    }
  },
  computed: {
    page_count_options: function () {
      if (this.design_required === false) {
        if (this.template_count === 6) {
          return [
            { value: 6, name: '4-6 Pages' },
            { value: 10, name: '7-10 Pages' },
            { value: 15, name: '11-15 Pages' },
            { value: 18, name: '16+ Pages' }
          ]
        } else if (this.template_count === 9) {
          return [
            { value: 9, name: '7-9 Pages' },
            { value: 12, name: '10-12 Pages' },
            { value: 15, name: '12-15 Pages' },
            { value: 18, name: '16+ Pages' }
          ]
        } else if (this.template_count === 12) {
          return [
            { value: 15, name: '10-15 Pages' },
            { value: 18, name: '16+ Pages' }
          ]
        } else {
          return [
            { value: 5, name: '1-5 Pages' },
            { value: 10, name: '6-10 Pages' },
            { value: 15, name: '11-15 Pages' },
            { value: 18, name: '16+ Pages' }
          ]
        }
      } else {
        return [
          { value: 5, name: '1-5 Pages' },
          { value: 10, name: '6-10 Pages' },
          { value: 15, name: '11-15 Pages' },
          { value: 18, name: '16+ Pages' }
        ]
      }
    },
    quote_price: function () {
      // required quote fields
      if (
        this.design_required === '' || this.page_count === '' || (this.design_required === false && this.template_count === '')) {
        return false
      }

      var design_cost =     this.design_required ? 
                            this.template_count * 170 : 
                            this.template_count * 90

      var page_multipler =  this.page_count <= 5 ? this.page_count :
                            (this.page_count <= 10 ? (this.page_count / 2.8) : (this.page_count / 3.8))

      var page_cost =       this.design_required ? 
                            this.page_count * 30 * page_multipler : 
                            this.page_count * 30 * (this.page_count / 4)

      var blog_cost =       this.blog_required ? 250 : 0

      var total_cost =      design_cost + page_cost + blog_cost

      var cost_rounded =    Math.ceil(total_cost/50)*50;

      return this.format_curency(cost_rounded)
    }
  },
  methods: {
    format_curency: function (value) {
      return `£${value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')}`
    },
    post_email: function () {
      if (this.name === '' || this.email === '' || this.body === '') {
        this.form_error = true;
        return
      }
      
      this.loading = true
      this.form_error = false;

      var email_object = {
        name: this.name,
        email: this.email,
        body: this.body,
        design_required: this.design_required, 
        template_count: this.template_count ? this.template_count : 'Not specified',
        page_count: this.page_count,
        blog_required: this.blog_required,
        quote_price: this.quote_price
      }

      axios.post('https://www.nickmcburney.co.uk/.netlify/functions/send_quote_email', email_object).then(response => {
        this.$router.push({ path: '/thanks', query: { type: 'quote' } })
      }).catch(er => {
        this.loading = false
        console.log(er)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

.contact-form {
  padding: $gutter;
  border-radius: $gutter-half;
  margin-bottom: $gutter-triple;
  &--column {
    margin-bottom: $gutter;
  }
  h3 {
    margin-bottom: $gutter-half;
  }
  @media only screen and (min-width: $responsive-tablet-lg) {
    padding: $gutter ($gutter + $gutter-half);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    h3 {
      flex-basis: 100%;
    }
    &--column {
      margin-bottom: 0;
      flex-basis: calc(50% - #{$gutter});
      &:nth-of-type(even) {
        margin: 0 0 0 $gutter-double;
      }
    }

    .sticky {
      position: sticky;
      top: $header-height-lg;
    }
  }
  //width: $page-width-xs;
  //margin: auto;
  

  .btn {
    margin: $gutter 0 0;
    font-size: $font-size-large;
    padding: 1rem;
    @media only screen and (min-width: $responsive-tablet-lg) {
      margin: $gutter auto 0;// + $gutter-half;
      width: 15rem;
    }
  }

  &--info {
    > p {
      font-size: $font-size-x-small;
      margin-bottom: 0;
    }
  }

  .quote-price {
    margin-top: $gutter;
    p {
      margin: 0;
      > small {
        font-size: $font-size-small;
      }
      strong {
        display: block;
        font-size: $font-size-headline;
        font-weight: $font-weight-black;
        line-height: 1.25;
      }
      @media only screen and (min-width: $responsive-mobile-lg) {
        font-size: $font-size-large;
        strong {
          font-size: $font-size-headline-lg;
        }
      }
    }
  }
}
</style>
