<template>
    <fieldset class="question" :class="{ error: input_error !== null }">
      <legend v-html="label" />
      <p v-if="label_support" v-html="label_support" class="support-message" />

      <div class="question--options">
        <template v-for="option in options">
          <input type="radio" 
            :name="id" 
            :id="`${id}-${option.value}`" 
            :key="`input-${id}-${option.value}`" 
            :checked="value === option.value"/>

          <label :for="`${id}-${option.value}`" 
            :key="`label-${id}-${option.value}`" 
            v-html="option.name" 
            @click="updateValue(option.value)"/>
        </template>
      </div>

      <p class="error-message" v-if="input_error" v-html="input_error" />
    </fieldset>

</template>

<script>
  export default {
    name: 'Input',
    props: {
      id: {
        type: String
      },
      label: {
        type: String,
        required: true
      },
      label_support: {
        type: String,
      },
      value: {
        type: [String, Number, Boolean]
      },
      options: {
        type: Array
      },
      required: {
        type: Boolean
      },
      validation: {
        type: Object
      },
      form_valid: {
        type: Boolean
      }
    },
    data () {
      return {
        input_error: null
      }
    },
    watch: {
      form_valid: function (valid) {
        if (!valid) {
          this.validate(this.value)
        }
      }
    },
    methods: {
      validate: function (value) {
        if (this.required) {
          this.input_error = value.toString() !== '' ? null : this.validation.message
        }
      },
      updateValue: function (value) { 
        this.input_error = null
        this.$emit('input', value)
      }
    }
  }
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

.question {
	border: 0;
  margin: 0;
  padding: $gutter-half 0;
	//width: $question-width;
	max-width: 100%;
	position: relative;
	// legend styles
	legend {
    margin: 0 0 $gutter-half;
    float: left;
    padding: 0;
  }
  .support-message {
    font-size: $font-size-x-small;
    letter-spacing: normal;
    margin: 0 0 $gutter-half;
    clear: both;
  }
	// label used as button
	label {
    flex-basis: 50%;
    height: 3.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
		background: #fff;
		//display: inline-block;
		//text-align: center;
		font-size: $font-size;
		font-weight: bold;
		cursor: pointer;
		color: $color-primary;
    background: #FFF;
  }
  
	// style checked button
	input:checked + label {
		background: #01c73e;
		//color: #fff;
  }
  
	// accessible hide inputs
	input {
		border: 0; 
		clip: rect(0 0 0 0); 
		height: 1px; margin: -1px; 
		overflow: hidden; 
		padding: 0; 
		position: absolute; 
		width: 1px;
	}
}

.question--options {
  clear: both;
  display: flex;
  flex-wrap: wrap;
  border-radius: $gutter-half/2;
  overflow: hidden;
  .error & {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.error-message {
  font-size: $font-size-x-small;
  margin: 0;
  color: $color-error;
  background: #FFF;
  font-weight: $font-weight-bold;
  padding: 0 ($gutter-half + $gutter-half/2) $gutter-half;
  border-bottom-left-radius: $gutter-half/2;
  border-bottom-right-radius: $gutter-half/2;
}
</style>