<template>
  <div class="question" :class="{ error: input_error !== null }">
    <label v-html="label" />
    <p v-if="label_support" v-html="label_support" />

    <input v-if="type !== 'textarea'"
      class="input"
      :type="type ? type : 'text'"
      :id="id"
      :placeholder="placeholder || label"
      :value="value"
      :required="required"
      @input="validate($event.target.value)"
      @input.delete="clearValue"
      @blur="updateValue($event.target.value)">

    <textarea v-else
      class="input"
      :id="id"
      :placeholder="placeholder || label"
      :value="value"
      :required="required"
      @input="validate($event.target.value)"
      @input.delete="clearValue"
      @blur="updateValue($event.target.value)" />

    <p class="error-message" v-if="input_error" v-html="input_error" />
  </div>
</template>

<script>
  export default {
    name: 'Input',
    props: {
      id: {
        type: String
      },
      label: {
        type: String,
        required: true
      },
      label_support: {
        type: String,
      },
      placeholder: {
        type: String,
      },
      value: {
        type: String
      },
      type: {
        type: String
      },
      required: {
        type: Boolean,
        default: false
      },
      validation: {
        type: Object
      },
      form_valid: {
        type: Boolean
      }
    },
    data () {
      return {
        input_error: null
      }
    },
    watch: {
      form_valid: function (valid) {
        if (!valid) {
          this.validate(this.value)
        }
      }
    },
    methods: {
      clearValue: function () {
        this.input_error = null
        this.$emit('input', '')
      },
      validate: function (value) {
        if (this.required) {
          this.input_error = value.toString() !== '' ? null : this.validation.message
        }
      },
      updateValue: function (value) { 
        if (this.validation) {
          this.input_error = this.validation.regex.test(value) ? null : this.validation.message
        }        
        if (this.input_error === null) {
          this.$emit('input', value)
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

.question {
  --area-height: 8.5rem;
  width: 100%;
  padding: $gutter-half 0;
}

label {
  display: flex;
  margin-bottom: $gutter-half;
  align-items: flex-end;
  justify-content: space-between;
  small {
    font-size: $font-size-x-small;
  }
}
input,
textarea {
  padding: $gutter-half ($gutter-half + $gutter-half/2);
  border: 0 none;
  border-radius: $gutter-half/2;
  width: 100%;
  max-width: 100%;
  font-size: $font-size-small;
  font-family: $font-family;
  color: $color-primary;
  display: block;
  min-height: 2.6rem;
  &::placeholder {
    color: #aaa;
  }
  .error & {
    color: $color-error;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

textarea {
  min-width: 100%;
  min-height: 8.5rem;
  min-height: var(--area-height);
  resize: none;
}
.error-message {
  font-size: $font-size-x-small;
  margin: 0;
  color: $color-error;
  background: #FFF;
  font-weight: $font-weight-bold;
  padding: 0 ($gutter-half + $gutter-half/2) $gutter-half;
  border-bottom-left-radius: $gutter-half/2;
  border-bottom-right-radius: $gutter-half/2;
}
</style>