<template>
  <Layout>
    <template slot="hero">
      <h1>My Blog</h1>
      <p class="hero--author">Irregular posts from a front-end developer</p>
    </template>

    <div class="container">
      <ul class="section post-list columns">
        <li v-for="{ node } in $page.allMdPost.edges" :key="node.id" class="columns--half">
          <BlogItem :post="node" />
        </li>
      </ul>
      <Pager :info="$page.allMdPost.pageInfo"/>
    </div>
  </Layout>
</template>

<page-query>
query ($page: Int) {
  allMdPost (page: $page, perPage: 10) @paginate {
    pageInfo {
      totalPages
      currentPage
    }
    edges {
      node {
        id
        title
        date (format: "Do MMMM YYYY")
        path
        coverImage
        excerpt
      }
    }
  }
}
</page-query>

<script>
import { Pager } from 'gridsome'
import PostListItem from '~/components/PostListItem.vue'

export default {
  name: 'MyBlog',
  metaInfo: {
    title: 'Irregular posts from a front-end developer'
  },
  components: {
    Pager,
    'BlogItem': PostListItem
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

.post-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  li {
    margin: auto auto $gutter;
    max-width: 420px;
    @media only screen and (min-width: $responsive-tablet-sm) {
      margin: 0 0 $gutter;
    }
  }
}
</style>
