<template>
  <Layout>
    <template slot="hero">
      <h1>Contact me</h1>
    </template>
    
    <div class="container">
      <div class="section container--inner">
        <p>If your looking for a freelance developer to help with your project then please get in touch, you can try out my <g-link to="/website-quote">website quote calculator</g-link>, use the form below or <a href="mailto:nick@nickmcburney.co.uk" title="Email Me">email me</a> for a quote.</p>

        <p><small><strong>Please note: I am not a contractor and I'm not interested in contract rolls.</strong></small></p>
      </div>


      <div class="contact-form section--gradient">
        <h3>Message me:</h3>
        <div class="contact-form--row">
          <form-input label="Your name*"
            v-model="name"  
            :required="true" 
            id="name"
            placeholder="Webby Website"
            :form_valid="!form_error"
            :validation="{
              regex: validations.text,
              message: 'Please enter your name'
            }"
          />

          <form-input label="Your email address*"
            v-model="email" 
            :required="true" 
            type="email" 
            id="email" 
            placeholder="name@example.co.uk"
            :form_valid="!form_error"
            :validation="{
              regex: validations.email,
              message: 'Please enter a valid email address'
            }"
          />
        </div>

        <form-input label="Message*"
          v-model="body" 
          :required="true" 
          type="textarea" 
          id="message"
          :form_valid="!form_error"
          :placeholder="`Hello,\n\nNice to meet you.`"
          :validation="{
            regex: validations.body,
            message: 'Please enter a message'
          }"
        />

        <p><small>By clicking 'Submit' you agree to the <a href="/privacy-policy" class="link-minor" target="_blank" rel="nofollow">privacy policy</a>.</small></p>

        <button @click="post_email" class="btn btn-clear" v-if="!loading">Submit</button>
        <p v-else>Submitting...</p>
      </div>
    </div>
  </Layout>
</template>

<script>
import axios from 'axios'

import Input from '@/components/Inputs/Input'

export default {
  metaInfo: {
    title: 'Contact me'
  },
  components: {
    'form-input': Input
  },
  data () {
    return {
      name: '',
      email: '',
      body: '',
      loading: false,
      validations: {
        text: /^[a-zA-Z ]*$/,
        email: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
        body: /(?!^$)([^\s])/
      },

      form_error: false
    }
  },
  methods: {
    post_email: function () {
      if (this.name === '' || this.email === '' || this.body === '') {
        this.form_error = true;
        return
      }

      this.loading = true

      this.form_error = false;

      var email_object = {
        name: this.name,
        email: this.email,
        body: this.body
      }

      axios.post('https://www.nickmcburney.co.uk/.netlify/functions/send_contact_email', email_object).then(response => {
        this.$router.push({ path: '/thanks', query: { type: 'message' } })
      }).catch(er => {
        this.loading = false
        console.log(er)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

.contact-form {
  padding: $gutter;
  border-radius: $gutter-half;
  margin-bottom: $gutter-triple;
  @media only screen and (min-width: $responsive-tablet-lg) {
    padding: $gutter ($gutter + $gutter-half);
    &--row {
      display: flex;
      justify-content: space-between;
      > div {
        flex-basis: calc(50% - #{$gutter});
        &:nth-of-type(even) {
          margin: 0 0 0 $gutter-double;
        }
      }
    }
  }
  //width: $page-width-xs;
  //margin: auto;
  

  .btn {
    margin-top: $gutter-half;
    margin-left: 0;
  }
}

</style>
