<template>
  <Layout>
    <template slot="hero">
      <h1>Freelance Services</h1>
      <p class="hero--author">Web development services to grow your business</p>
    </template>

    <div class="section">
      <div class="container">
        <div class="container--inner">
          <p>Whether you’re launching a new business or your established business needs a refresh I can help you with my affordable freelance design, development and support services which includes SEO, analytics, speed optimisation, conversion optimisation and A/B test management.</p>

          <h3>Get a website design and development quote</h3>
          <p><g-link to="/website-quote" class="btn btn-gradient btn-ml-none">Website quote calculator</g-link></p>
        </div>
      </div>
    </div>

    <div class="section section--grey">
      <div class="container">
        <div class="container--inner">
        <h2>Freelance web development services</h2>

        <h3>🚀&nbsp;&nbsp;Design and development</h3>
        <p>Comprehensive freelance web design and development services to showcase your online brand, optimised to look great and load fast on all devices. Wether you need a complete website redesign, or you need a design converting to code, I can provide services to give you a <strong>high quality website</strong>.</p>

        <p>I can build static websites, custom WordPress themes, and work with other website builders to bring your online business to life.</p>
      
        <h3>⚡&nbsp;&nbsp;Speed optimisation</h3>
        <p>If your website is load time is even a bit sluggish <strong>it will impact</strong> your users experience, search engine rankings and conversion rate. This can all be improved through website speed optimisation, get in touch with me and we can have your website loading lightning fast!</p>

        <h3>📈&nbsp;&nbsp;Conversion optimisation and A/B test management</h3>
        <p>Conversion rate optimisation can be achived through small design changes and (as mentioned above) speed optimisation. It's important when trying to improve conversion rate that we track before/after conversion rates and this can be done through A/B testing.</p>

        <p>I can provide complete A/B test management and design tweaks to <strong>optimise your conversion rate</strong>.</p>

        <h3>🦉&nbsp;&nbsp;Analytics analysis and on-page SEO</h3>
        <p>Understand your users and increase traffic through analytics analysis and technical search engine optimisation. Ensure your website is putting its best foot forward with in-depth on-page SEO and analysis services.</p>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="container--inner">
          <p><strong>I am no longer offering non-web design services</strong> (e.g. logo design / stationary design etc), though I still enjoy branding and print design I find as my development career progresses I no longer have the expertise to provide the high quality services which I strive to offer on these types of projects.</p>

          <p>If we have worked together previously and you would like me to do this sort of work please get in touch and ill see if I can help, or provide suggestions on a designer who can better support you.</p>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'Freelance Development Services'
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

h3:not(:first-of-type){
  margin-top: $gutter-double;
}
</style>
