<template>
  <Layout>
    <div class="home-hero">
      <div class="container">
        <h1>Hi! 👋&nbsp;&nbsp;I’m Nick, <br/>a Manchester based front-end developer</h1>
        <picture class="profile-image">
          <source srcset="../assets/images/profile/Nick-McBurney-Profile.webp"
                  type="image/webp">
          <img src="../assets/images/profile/Nick-McBurney-Profile.jpg" width="240" height="240" alt="Nick McBurney Profile Image"/>
        </picture>
        <!--<g-image src="~/assets/images/Nick-McBurney-Profile.jpg" width="240" height="240" quality="100" alt="Nick McBurney Profile Image" class="profile-image" :immediate="true"/>-->
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="container--inner">
          <p>I work full time as a <strong>front-end developer in Manchester</strong> but also provide freelance web design, development and online services during my free time (evenings and weekends).</p>
          
          <h3>I specialise in front-end development and site optimisation 🤓</h3>

          <p>Read <a href="#about-me">more about me</a></p>
        </div>
      </div>
    </div>


    <div class="section section--gradient text-align--center">
      <div class="container">
        <h2>Freelance services</h2>
        <div class="columns">
          <div class="columns--half">
            <h3>Web design &amp; development</h3>
            <p>Comprehensive freelance web design and development services to showcase your online brand, optimised to look great and load fast on all devices.</p>

            <p><g-link class="btn btn-clear" to="/freelance-services">More info</g-link></p>
          </div>

          <div class="columns--half">
            <h3>Speed &amp; conversion optimisation</h3>
            <p>Improve user experience and increase business through website speed optimisation, conversion rate optimisation and A/B test management.</p>

            <p><g-link class="btn btn-clear" to="/freelance-services">More info</g-link></p>
          </div>
        </div>
      </div>
    </div>

    <div class="section section--grey">
      <div class="container">
        <div class="container--inner">
          <h3>Instant website design and development price</h3>
          <p>Answer a few questions and my calculator will give you a quote price for your project</p>
          <p><g-link to="/website-quote" class="btn btn-gradient btn-ml-none">Website quote calculator</g-link></p>
        </div>
      </div>
    </div>

    <div id="about-me" class="anchor-adjust"/>
    <div class="section">
      <div class="container">
        <div class="container--inner">
          <h2>About me</h2>

          <p>I have lived in Manchester most my life, I grew up in Sale and now live in Eccles 🏠.</p>

          <p>I've worked as a designer / developer since I graduated Coventry University with a 2:1 BA Graphic Design degree in 2010, I'm a passionate, hard-working person and my development skills are self taught and always improving.</p>
          
          <p>I am the lead front-end developer 🧙 for a financial services company and use my experience to build great user experiences and pass my knowledge on to more junior developers through mentoring and training.</p>

          <h3><strike>Interesting</strike> facts</h3>
          <ul>
            <li>I have a cat, called Toastie 🐈</li>
            <li>I married my university love in 2017 💑</li>
            <li>I built this website whilst on Coronavirus lock-down in 2020 🔒</li>
            <li>I had two centurian grandparents 👵</li>
            <li>I can benchpress &amp; squat my body weight (8+ reps)* 🏋️‍♂️</li>
          </ul>

          <p><small>*Sorry for the gym brag but these were proud moments</small></p>
        </div>
      </div>
    </div>

    <div class="section section--grey">
      <div class="container">
        <h3>Employment history</h3>
        <ul class="timeline">
          <li>
            <ul class="timeline--collection">
              <li class="timeline--company"><strong>Ocean Finance <small>(Think Money Group Ltd)</small></strong></li>
              
              <li class="timeline--item">
                <strong>Feb 2020 - Present</strong> Lead Front-End Developer
              </li>
              <li class="timeline--item">
                <strong>Jun 2017 - Jan 2020</strong> Senior Front-End Developer
              </li>
              <li class="timeline--item">
                <strong>Jan 2015 - May 2017</strong> Front-End Developer
              </li>            
            </ul>
          </li>
          <li>
            <ul class="timeline--collection">
              <li class="timeline--company"><strong>Tuscor Lloyds Ltd</strong></li>
              <li class="timeline--item">
                <strong>Apr 2013 - Dec 2014</strong> Senior Web &amp; Graphic Designer
              </li>
              <li class="timeline--item">
                <strong>Oct 2010 - Mar 2013</strong> Web &amp; Graphic Designer
              </li>
              
            </ul>
          </li>
          <li>
            <ul class="timeline--collection">
              <li class="timeline--company"><strong>Coventry University</strong></li>
              <li class="timeline--item" data-mobile-order="1">
                <strong>Sept 2007 - Sept 2010</strong> 2:1 Graphic Design BA
              </li>
            </ul>
          </li>
        </ul>

        <p>For more detailed employment history please see my <a href="https://www.linkedin.com/in/nickmcburney/" rel="nofollow noopener" target="_blank">LinkedIn</a> profile.</p>
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="columns">
          <RecentPosts class="columns--half"/>
          <RecentPortfolio class="columns--half"/>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>
import RecentPortfolio from '@/components/RecentPortfolio'
import RecentPosts from '@/components/RecentPosts'

export default {
  metaInfo: {
    title: 'Lead Front-End Developer and Freelancer'
  },
  components: {
    RecentPortfolio,
    RecentPosts
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

.home-hero {
  margin: $gutter-double 0 0;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (min-width: $responsive-mobile-lg) {
      flex-wrap: nowrap;
    }
  }

  h1 {
    flex-basis: 100%;
    
    @media screen and (min-width: $responsive-mobile-lg) { 
      margin-bottom: 0;  
    }
    @media screen and (min-width: $responsive-tablet-lg) {
      flex-basis: 28rem;
      font-size: $font-size-headline-lg * 1.15;
    }
  }

  .profile-image {
    margin: auto;
    width: 66%;
    max-width: 200px;
    
    align-self: flex-start;
    img {
      border-radius: 100%;
    }
    @media screen and (min-width: $responsive-mobile-lg) { 
      width: 150px;     
      margin-left: $gutter;
      margin-right: 0;  
    }
    @media screen and (min-width: $responsive-tablet-sm) {
      width: 25%;
      margin-left: $gutter-double;
    }
    @media screen and (min-width: $responsive-tablet-lg) {
      width: 200px;
    }
  }
}


ul.career {
  list-style: none;
  padding: 0;
  li {
    margin-bottom: $gutter-half;
    font-size: $font-size-small;
  }
  strong {
    display: block;
  }
}

.timeline {
  list-style: none;
  position: relative;
  padding: 0;
  font-size: $font-size-small;
  li:first-of-type {
    ul {
      padding-top: 0;
    }
  }
  .timeline--collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
    position: relative;
    padding: $gutter 0 $gutter $gutter;
    margin: 0;
    border-left: 2px solid $color-primary;
    
    li {
      position: relative;
      flex-basis: 100%;
      margin-bottom: $gutter-half;
      &:last-of-type {
        margin-bottom: 0;
      }
      strong {
        display: block;
      }
      &.timeline--company {
        flex-basis: 100%;
        flex-shrink: 1;
        position: relative;
        margin-top: $gutter;
        &:before {
          content: "";
          background: $color-primary;
          height: 2px;
          width: $gutter;
          display: block;
          top: $gutter-half-minus;
          left: $gutter-minus;
          position: relative;
        }
      }
    }

    @media only screen and (min-width: 765px) {
      padding: $gutter-double 0 $gutter $gutter-double;
      flex-direction: row-reverse;
      justify-content: flex-end;
      li {
        flex-basis: 33%;
        &.timeline--company {
          margin-top: 0;
          &:before {
            display: none;
          }
        }
        &:not(.timeline--company) {
          margin-bottom: 0;
          &:before {
            content: "";
            display: block;
            width: 2px;
            height: $gutter-half;
            background: $color-primary;
            position: absolute;
            left: calc(#{$gutter-half-minus} - 2px);
            bottom: $gutter-half-minus
          }
          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background: $color-primary;
            position: absolute;
            left: $gutter-double-minus;
            margin-top: $gutter-half;
          }
        }
      }
    }
  }
}
</style>
