<template>
  <Layout>
    <template slot="hero">
      <h1>My Portfolio</h1>
      <p class="hero--author">My freelance web development and design work</p>
    </template>
    <div class="container">
      <masonry class="section"
        :cols="{default: 3, 800: 2, 460: 1}"
        :gutter="{default: '2rem', 800: '1rem'}"
        >
        <div v-for="(item, index) in $page.allMdPortfolio.edges" :key="index" class="masonry-item">
          <PortfolioItem :post="item.node" />
        </div>
      </masonry>
    </div>
  </Layout>
</template>

<page-query>
query {
  allMdPortfolio {
    pageInfo {
      totalPages
      currentPage
    }
    edges {
      node {
        id
        title
        date (format: "Do MMMM YYYY")
        path
        image1
        categories
      }
    }
  }
}
</page-query>

<script>
import PortfolioItem from '~/components/PortfolioListItem.vue'
import Vue from 'vue'
import VueMasonry from 'vue-masonry-css'
Vue.use(VueMasonry)

export default {
  metaInfo: {
    title: 'My Portfolio'
  },
  components: {
    PortfolioItem,
  }
}
</script>

<style lang="scss">
@import "@/assets/variables.scss";

.masonry-item {
  margin-bottom: $gutter-double;
  @media only screen and (max-width: 800px) {
    margin-bottom: $gutter;
  }
}
</style>
