<template>
  <Layout v-if="thanks_type">
    <template slot="hero">
      <h1>Thanks for {{ thanks_type === 'quote' ? 'using my quote calculator' : 'your message'}}</h1>
    </template>
    
    <div class="container">
      <div class="section container--inner thanks-page">
        <p>I aim to respond to {{ thanks_type === 'quote' ? 'quote requests' : 'messages'}} within 24 hours.</p>

        <p>While you wait, why not look through some of my recent posts:</p>

        <RecentPosts/>
      </div>
    </div>
  </Layout>
</template>

<script>
//import RecentPosts from '@/components/RecentPosts'

export default {
  name: 'Thanks',
  metaInfo: {
    title: 'Thanks for getting in touch',
    meta: [
      { name: 'robots', content: 'noindex nofollow' }
    ]
  },
  components: {
    RecentPosts: () => import('@/components/RecentPosts')
  },
  data () {
    return {
      thanks_type: null
    }
  },
  mounted () {
    const { type } = this.$route.query
    this.thanks_type = type === 'quote' ? 'quote' : 'message'
  }
}
</script>

<style lang="scss">
.thanks-page {
  h2 {
    display: none;
  }
}
</style>