<template>
    <ul>
        {{ $static }}
        <!--<li v-for="child in comment.node.children" :key="child.id" >
            <h4>{{ child.node.author.name }}</h4>
            <div v-html="child.node.content" />
        </li>-->
    </ul>
</template>

<static-query>
query WordPressPostAndComments {
  comments: allWpComments (
    filter: { 
      post_id: { eq: 1786 }
    }
  ) {
    edges {
      node {
        # comment
        #id
        post_id,
        date
        author {
          name
          url
          avatar {
            _24
            _48
            _96
          }
        }
        content
        
        # nested comment
        children { 
          date
          author_name
          author_url
          content {
            rendered
          }
          
          # double nested comment
          children {
            date
            author_name
            author_url
            content {
              rendered
            }
          }
        }      
      }
    }
  }
}
</static-query>

<script>
export default {
  props: {
      post_id: {
          type: Number,
          default: 1,
      }
  },
  mounted() {
    console.log(this.$static)
  }
}
</script>