<template>
    <div class="consent-banner" :class="{ 'hide': hideBanner }">
      <p>I use analytics to track website usage.</p> 
      <div class="consent-banner--options">
        <button class="btn btn-gradient" @click="enable">Okay</button>
        <small @click="close" class="btn btn-small">Block analytics</small>
      </div>
    </div>
</template>

<script>
import { bootstrap } from 'vue-gtag'

export default {
  name:'consent-banner',
  data () {
    return {
      hideBanner: false
    }
  },
  methods: {
    enable: function() {
      bootstrap().then(gtag => {
          sessionStorage.setItem('analyticsEnabled', 'true')
          this.hideBanner = true
      })
    },
    close: function () {
      sessionStorage.setItem('analyticsEnabled', 'false')
      this.hideBanner = true
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

.consent-banner {
  position: fixed;
  bottom: $gutter;
  right: $gutter;
  width: 12rem;
  border-radius: $gutter-half;
  padding: $gutter;
  transition: transform 0.3s;
  background: #FFF; //$background-gradient
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  &.hide {
    transform: translateY(120%);
  }
  .container {
    display: block;
    //align-items: center;
    //flex-wrap: nowrap;
    max-width: 26rem;
    /*@media only screen and (min-width: $responsive-tablet-sm) {
      flex-wrap: nowrap;
    }*/
  }
  p {
    font-size: $font-size-small;
    margin: 0 0 $gutter-half;
    @media only screen and (min-width: $responsive-tablet-sm) {
      margin: 0
    }
  }
  .consent-banner--options {
    margin-top: $gutter-half;
    .btn {
      width: 100%;
      &-small {
        background: #FFF;
        border: 1px solid $color-primary;
        color: $color-primary;
        margin-top: $gutter-half;
        font-size: $font-size-x-small;
      }
    }
  }
}
</style>