<template>
    <footer class="section section--gradient">
        <div class="container text-align--center">
            <small>Built with ☕ using <a href="https://gridsome.org/" rel="nofollow noopener" target="_blank">Gridsome</a> (Vue.js Static Site) and <a href="https://www.netlify.com/" rel="nofollow noopener" target="_blank">Netlify</a>.</small>
            <small>© Copyright 2010 - {{ new Date().getFullYear() }} Nick McBurney</small>
            <small><a href="/privacy-policy" class="link-minor" target="_blank" rel="nofollow">Privacy policy</a></small>
        </div>
    </footer>
</template>

<script>
export default {
    name: 'gridsome-footer'
}
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

footer {
    margin-bottom: 0;
    padding: $gutter 0;
}
small {
    display: block;
}
a {
    color: #FFF;
}
</style>