<template>
    <header :class="{ scrolled: isScrolled }">
      <div class="container">
        <g-link class="logo" to="/" >Nick McBurney <span>Front-end developer</span></g-link>
        <!-- navigation -->
        <navigation />
      </div>
    </header>
</template>

<script>
import Navigation from '@/components/Navigation'
export default {
  name: 'gridsome-header',
  components: {
    'navigation': Navigation,
  },
  data () {
    return {
      isScrolled: false
    }
  },
  mounted() {
    window.addEventListener("scroll", this.onScroll)
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll)
  },
  methods: {
    onScroll(e) {
      this.isScrolled = window.top.scrollY > 0
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";
.scrolled {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  height: $header-height;
}
header {
  background: #FFF;
  position: sticky;
  top: 0;
  height: $header-height-lg;
  transition: height 0.3s;
  z-index: 2;
  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
}

.logo {
  font-family: $font-family-headline;
  font-weight: 900;
  font-size: $font-size-large;
  text-transform: uppercase;
  line-height: 1;
  color: $color-primary;
  width: 12rem;
  text-decoration: none;
  align-self: center;
  margin-right: $gutter-double;
  flex-shrink: 0;  
  position: relative;
  z-index: 2;
  span {
    display: block;
    //font-size: 0.5em;
    font-size: $font-size-small;
    //text-transform: capitalize;
    font-family: $font-family;
    font-weight: 300;
    line-height: 1;
  }
}
</style>
