<template>
    <div class="hero">
        <div class="container">
            <slot></slot>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

.hero {
    padding: $gutter-double 0;
    background: $background-gradient;
    //margin-bottom: $gutter;
    text-align: center;
    @media only screen and (min-width: $responsive-tablet-lg) {
      padding: $gutter-triple 0;
      //margin-bottom: $gutter-double;
    }
    h1 {
        color: #fff;
        margin: 0;
    }
    .hero--author {
        width: 380px;
        max-width: 100%;
        margin: 0 auto;
        color: #FFF;
        font-size: $font-size-small;
        border-top: 1px solid #FFF;
        margin-top: $gutter-half;
        padding-top: $gutter-half;
        max-width: 100%;
    }
    .category {
      margin-right: $gutter-half/2;
      background: #fff;
      color: $color-primary;
      border-radius: 4px;
      padding: $gutter-half/2 $gutter-half;
      //font-size: 0.7rem;
      display: inline-block;
      text-transform: capitalize;
    }
}
</style>