<template>
    <nav role="navigation" :class="{ active: show_mobile_nav }">
      <span class="navigation--mobile-toggle"
            @click="show_mobile_nav = !show_mobile_nav">
        <Hamburger :active="show_mobile_nav" />
      </span>

      <div class="navigation--holder">
      <ul class="navigation--links">
          <li>
              <g-link class="nav__link" to="/">Home</g-link>
          </li>

          <li>
              <g-link class="nav__link" to="/freelance-services">Freelance</g-link>
          </li>

          <li>
              <g-link class="nav__link" to="/portfolio">Portfolio</g-link>
          </li>

          <li>
              <g-link class="nav__link" to="/blog">Blog</g-link>
          </li>

          <li>
              <g-link class="nav__link" to="/contact-me">Contact me</g-link>
          </li>
      </ul>
      </div>
    </nav>
</template>

<script>
import Hamburger from '@/components/Hamburger'
export default {
    name: 'navigation',
    components: {
      Hamburger
    },
    data () {
        return {
            show_mobile_nav: false,
        }
    },
    
}
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

nav {
    display: flex;
    justify-items: flex-end;
    align-items: center;
    @media only screen and (min-width: $responsive-navigation-break) {
      width: 600px;
    }
}

.navigation--holder {
  overflow: hidden;
  position: absolute;
  width: 0;
  left: 100%; 
  transition: left 0.2s;
  top: $header-height-lg;
  height: $header-nav-adjust;
  
  .active & {
    left: 0;
    width: 100vw;
    .scrolled & {
      height: calc(100vh - #{$header-height});
      top: $header-height;
    }
  }
  @media only screen and (min-width: $responsive-navigation-break) {
    overflow: visible;
    position: relative;
    width: 100%; height: 100%;
    left: auto; top: auto;
    /**/
  }
}
.navigation--mobile-toggle {
    width: 32px; height: 34px;
    display: inline-block;
    right: $gutter;
    position: absolute;
    .active & {
      &:after {
        content: 'Close'
      }
    }
    &:after {
      content: 'Menu';
      display: block;
      font-size: 10px;
      color: $color-primary;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
    }
    > span {
      width: 100%;
      height: 4px;
      background: $color-primary;
      display: block;
      margin-bottom: $gutter-half/2;
      border-radius: 3px;
    }
    @media only screen and (min-width: $responsive-navigation-break) {
      display: none;
    }
}
.navigation--links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%; width: 100%;
    background: $background-gradient;
    @media only screen and (min-width: $responsive-navigation-break) {
      flex-wrap: nowrap;
      flex-direction: row;
      background: transparent;
    }

    li {
        align-items: center;
        display: flex;
        margin: 0;
        width: 100%;
        
        min-height: $gutter * 3;
        @media only screen and (min-width: $responsive-navigation-break) {
          height: 100%;
          //flex-basis: 100%;
          width: auto;
          flex-grow: 1;
        }
        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
            padding-left: $gutter;

            color: #fff;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            font-size: $font-size-small;

            transition: background 0.3s;
            white-space: nowrap;
            @media only screen and (min-width: $responsive-navigation-break) {
              color: $color-primary;
              justify-content: center;
              padding: 0 $gutter-half;
              &:hover {
                background: $color-primary;
                color: #FFF;
              }
            }
            @media only screen and (min-width: $responsive-navigation-break) and (max-width: $responsive-tablet-lg) {
              font-size: 0.85rem;
            }
        }
    }
}

@keyframes slide-in {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
</style>