<template>
  <article>
    <g-link :to="`${post.path}`" class="image-link">
      <g-image 
        :src="require(`!!assets-loader?width=420!~/assets/images/portfolio/${post.image1}`)" 
        quality="100"
        :alt="createAlt(post.image1)"
      />
    </g-link>
  </article>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      required: true
    }
  },
  methods: {
    createAlt: function (fileName) {
      var removeLocation = fileName.split('/')[1]
      var addSpaces = removeLocation.replace(/-/g, ' ')
      var removeExtension = addSpaces.replace('.png', '').replace('.jpg', '')
      return removeExtension
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";
a {
  width: 100%;
  text-align: center;
  display: block;
  text-decoration: none;
}
img {
  vertical-align: top;
}
</style>
