<template>
  <article>
    <g-link :to="post.path" class="image-link">
      <g-image 
        :src="require(`!!assets-loader?width=420&height=210!~/assets/images/${post.coverImage}`)"
        quality="100"
        width="420" height="210"
        fit="contain"
        :alt="post.title"
      />

      <h2 v-html="post.title" class="h3"/>
    </g-link>
    
    <p class="date-posted"><strong>Published: <time>{{ post.date }}</time></strong></p>
    <div class="excerpt" v-html="$options.filters.markdown(post.excerpt)"/>
    <p><g-link :to="post.path" class="link">Read More</g-link></p>
  </article>
</template>

<script>
export default {
  props: {
    post: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/variables.scss";
article {
  margin-bottom: $gutter-half;
}
.h3 {
  margin-bottom: $gutter;
}
p {
  font-size: $font-size-small;
  margin: $gutter-half 0;
}
img {
  margin-bottom: $gutter;
}

.excerpt {
  a {
    color: $color-primary;
  }
}
</style>
