<template>
<div class="recent-posts">
    <h2>Recent Work</h2>
    <div v-for="(item, index) in $static.allMdPortfolio.edges" :key="index" class="recent-post">
        <a :href="`${item.node.path}`">
            <g-image 
              :src="require(`!!assets-loader?width=420&height=240!~/assets/images/portfolio/${item.node.image1}`)" 
              :alt="`${item.node.title} freelance design and development`"
              quality="100"
              width="420" height="240"/>
            <div>
                <h3 v-html="item.node.title" />
                <small v-for="(category, index) in item.node.categories" :key="`${index}-${category}`">
                    <span v-html="category" class="category"/>
                </small>
            </div>
        </a>
    </div>
</div>
</template>

<static-query>
query Portfolio {
  allMdPortfolio (perPage: 3, sortBy: "date") {
    edges {
      node {
        title
        path
        image1
        categories
      }
    }
  }
}
</static-query>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

.category {
    margin-right: $gutter-half/2;
    background: #f1f1f1;
    border-radius: 4px;
    padding: $gutter-half/2 $gutter-half;
    font-size: 0.65rem;
    display: inline-block;
    text-transform: capitalize;
}
</style>
