<template>
<div class="recent-posts">
    <h2>Recent Posts</h2>
    <div v-for="(item, index) in $static.allMdPost.edges" :key="index" class="recent-post">
        <a :href="`${item.node.path}`">
            <g-image 
              :src="require(`!!assets-loader?width=420&height=240!~/assets/images/${item.node.coverImage}`)" 
              :alt="item.node.title"
              quality="100"
              width="420" height="240"
            />
            <div>
              <h3 v-html="item.node.title" />
              <small><time>{{ item.node.date }}</time></small>
            </div>
        </a>
    </div>
</div>
</template>

<static-query>
query Posts {
  allMdPost (perPage: 3) {
    edges {
      node {
        title
        date (format: "Do MMMM YYYY")
        path
        coverImage
      }
    }
  }
}
</static-query>