@import "@/assets/variables.scss";

* {
    box-sizing: border-box;
}

html {
    font-size: $font-size-base;
    @media only screen and (min-width: 1360px) {
        font-size: $font-size-base-xl;
    }
}

body {
    font-family: $font-family, -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: $font-weight-light;
    margin: 0;
    padding: 0;
    color: $color-primary--text;
    letter-spacing: -0.01rem;
}

.container {
    width: 100%;
    max-width: $page-width;
    padding-left: $gutter;
    padding-right: $gutter;
    margin: auto;
    &--inner {
        max-width: $page-width-xs;
        margin: 0;
    }
    @media only screen and (min-width: 1360px) {
        max-width: $page-width-xl;
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

a {
    color: $color-primary--text;
    font-weight: $font-weight-bold;
    &.image-link {
        text-decoration: none;
        display: block;
    }
    &.link-minor {
        font-weight: $font-weight-light;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-family;
    margin: 0 0 $gutter;
    letter-spacing: -0.02rem;
    line-height: 1.3;
}

h1, .h1 {
    font-size: $font-size-headline;
    font-weight: 900;
    margin-bottom: $gutter-double;
    @media only screen and (min-width: $responsive-tablet-md) {
        font-size: $font-size-headline-lg;
    }
}
h2, .h2 {
    font-size: $font-size-headline * 0.8;
    font-weight: 900;
    margin-bottom: $gutter-double;
    @media only screen and (min-width: $responsive-tablet-md) {
        font-size: $font-size-headline-lg * 0.8;
    }
}
h3, .h3 {
    font-size: $font-size-headline * 0.65;
    font-weight: 900;
    @media only screen and (min-width: $responsive-tablet-md) {
        font-size: $font-size-headline-lg * 0.6;
    }
}

p {
    line-height: 1.5;
    margin: $gutter 0;
}

.btn {
    padding: $gutter-half;
    width: 22rem;
    max-width: 100%;
    border-radius: $gutter-half;
    display: block;
    text-decoration: none;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    font-weight: 300;
    font-size: $font-size;
    font-family: $font-family;
    appearance: none;
    cursor: pointer;
    border: 0 none;
    background: #FFF;
    @media only screen and (min-width: $responsive-tablet-sm) { 
        margin: auto;
        width: 12rem;
    }
    &-clear {
        border: 1px solid #FFF;
        color: #FFF;
        background: transparent;
        &:hover {
            background: #FFF;
            color: $color-primary--text;
        }
    }
    &-gradient {
        background: $background-gradient;
        color: #FFF;
    }
    &-ml-none {
        margin-left: 0;
    }
}

.columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
      
    &--half {
        margin-bottom: $gutter-double;
        flex-grow: 1;
        max-width: 100%;
        &:last-of-type {
            margin-bottom: 0;
        }
        @media only screen and (min-width: $responsive-tablet-sm) {  
            flex-basis: calc(50% - #{$gutter});
            flex-grow: 0;
            flex-shrink: 0;
            margin-bottom: 0;
            &:nth-of-type(odd) {
                margin-right: $gutter-double;
            }
        }
        @media only screen and (min-width: $responsive-tablet-lg) {  
            flex-basis: calc(50% - (#{$gutter-triple}/2));
            &:nth-of-type(odd) {
                margin-right: $gutter-triple;
            }
        }
    }
}


.text-align--center {
    @media only screen and (min-width: $responsive-tablet-sm) { 
        text-align: center;
    }
}

.section {
    padding: $gutter-double 0;
    //margin: $gutter 0;
    &--grey {
        background: #f1f1f1;
    }
    &--gradient {
        background: $background-gradient;
        color: #FFF;
        a {
            color: #FFF;
        }
    }

    p {
        &:first-of-type {
            margin-top: 0;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}


.recent-posts {
    h2 {
        margin-bottom: $gutter;
    }
    .recent-post {
        display: block;
        width: 100%;
        max-width: 420px;
        margin: $gutter auto 0;
        @media only screen and (min-width: $responsive-tablet-sm) {
            max-width: 100%;
        }
    }
    a {
        text-align: left;
        display: flex;
        text-decoration: none;        
        flex-wrap: wrap;
        
        @media only screen and (min-width: $responsive-tablet-lg) {
            flex-wrap: nowrap;
        }
        img {
            margin-bottom: $gutter-half;
            align-self: flex-start;
            @media only screen and (min-width: $responsive-tablet-lg) {
                flex-basis: 140px;
                width: 140px;
                flex-grow: 0;
                margin-bottom: 0;
                margin-right: $gutter;
            }
        }
        h3 {
            font-size: 1rem;
            margin-bottom: $gutter-half / 2;
        }
    }
}


.anchor-adjust {
    position: relative;
    top: -100px;
}

.featured-image {
    margin: auto auto $gutter;
    display: block;
    @media only screen and (min-width: $responsive-tablet-lg) {
        margin-bottom: $gutter-double;
    }
}