
$responsive-tablet-lg: 800px;
$responsive-tablet-md: 700px;
$responsive-tablet-sm: 600px;

$responsive-mobile-lg: 420px;
$responsive-mobile-md: 360px;
$responsive-mobile-sm: 320px;

$responsive-navigation-break: 760px;

$color-primary: #003c5a;//#3e2548;// #58bac1;
$color-primary--text: $color-primary;
$color-primary--highlight: #3a1d67;
$color-error: #c50c0c;
$background-gradient: linear-gradient(145deg, #003c5a 0%, #5a1fb5 100%);

$page-width: 52rem;
$page-width-xl: 60rem;
$page-width-xs: 44rem;

$header-height: 4rem;
$header-height-lg: calc(#{$header-height} + 1rem);
$header-nav-adjust: calc(100vh - (#{$header-height} + 1rem));

$font-family: 'Lato';
$font-family-headline: 'Lato';

$font-weight-light: 300;
$font-weight-bold: 600;
$font-weight-black: 900;

$font-size-base: 18px;
$font-size-base-xl: 20px;

$font-size: 1rem;
$font-size-small: 0.9rem;
$font-size-x-small: 0.75rem;
$font-size-large: 1.25em;
$font-size-headline: 1.75rem;
$font-size-headline-lg: 2.5rem;

$gutter: 1rem;
$gutter-minus: -$gutter;
$gutter-half: $gutter/2;
$gutter-half-minus: -$gutter-half;
$gutter-double: $gutter * 2;
$gutter-double-minus: -$gutter-double;
$gutter-triple: $gutter * 3;
$gutter-triple-minus: -$gutter-triple;