<template>
  <div class="layout">
    <gridsome-header />
    <main>
      <hero v-if="$slots.hero"><slot name="hero" /></Hero>
      
      <slot />
    </main>

    <gridsome-footer />
    <consent-banner v-if="!analyticsSet"/>
  </div>
</template>

<script>
import Header from '@/components/Header'
import Hero from '@/components/Hero'
import Footer from '@/components/Footer'
import Consent from '@/components/Consent'

export default {
  name: 'default-layout',
  metaInfo: {
    titleTemplate: '%s - Nick McBurney | Front-end Developer',
    htmlAttrs: {
      lang: 'en',
    }
  },
  components: {
    'gridsome-header': Header,
    'hero': Hero,
    'gridsome-footer': Footer,
    'consent-banner': Consent
  },
  data () {
    return {
      analyticsSet: false
    }
  },
  mounted () {
    this.analyticsSet = sessionStorage.getItem('analyticsEnabled') !== null
    if (process.isClient) {
      const initPrefetch = require('@/utils/fetchLinks').default
      initPrefetch()
    }
  }
}
</script>